In [1]:
import pandas as pd #数据分析
import numpy as np #科学计算
import matplotlib.pyplot as plt
import seaborn as sns
plt.rc('font',family='SimHei')#调节字体、如果要更多字体要下载再放入某个目录
from pandas import Series,DataFrame

In [2]:
Dataframe

NameError: name 'Dataframe' is not defined

In [3]:
data=pd.read_csv("/Users/xwx/Desktop/kaggle/tatanic/data/train.csv")
#data=pd.read_csv("/Users/xwx/Desktop/kaggle_titanic/data/test.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [4]:
#创造数据
df1=data[0:15][['Survived','Age','Name']]
df2=data[15:30][['Pclass','PassengerId','Parch']]
df2.head()
df1.head()

   Survived   Age                                               Name
0         0  22.0                            Braund, Mr. Owen Harris
1         1  38.0  Cumings, Mrs. John Bradley (Florence Briggs Th...
2         1  26.0                             Heikkinen, Miss. Laina
3         1  35.0       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4         0  35.0                           Allen, Mr. William Henry

In [5]:
#获取dataframe所有的列名的列表
col=data.columns.values.tolist()
col

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [6]:
#选择数据
data['Age']#选择表格中的'w'列，使用类字典属性,返回的是Series类型

data.Age#选择表格中的'w'列，使用点属性,返回的是Series类型

data[['Age']]#选择表格中的'w'列，返回的是DataFrame属性

data[0:2]#返回第1行到第2行的所有行，前闭后开，包括前不包括后

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [7]:
#重命名

#只对其中某列重命名
df1.rename(columns={"Survived":'获救？'})

#对所有列重命名
df1.columns=['是否获救','年龄','姓名']
df1.head()

   是否获救    年龄                                                 姓名
0     0  22.0                            Braund, Mr. Owen Harris
1     1  38.0  Cumings, Mrs. John Bradley (Florence Briggs Th...
2     1  26.0                             Heikkinen, Miss. Laina
3     1  35.0       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4     0  35.0                           Allen, Mr. William Henry

In [8]:
#排序
df1.sort_values(by='年龄',ascending=False,inplace=True)#ascending=False代表降序

In [9]:
#连接俩dataframe
d1 = pd.DataFrame({'x': [1, 2, 3], 'y': ['a', 'b', 'c']})
d2 = pd.DataFrame({'y': ['b', 'c', 'd'], 'z': [4, 5, 6]})

#concat
#可以垂直和水平地连接两个或多个pandas对象
#concat是唯一一个可以将DataFrames垂直连接起来的函数
#只用索引对齐
d3=pd.concat([d1,d2],axis=0) #axis=0代表行连接按照列名相同的合并 
d4=pd.concat([df1,df2],axis=1)##axis=0代表行连接，按照index相同连接 
d44=pd.concat([df1,df2.reset_index(drop=1)],axis=1)#将df2的索引列重新从0开始排列（drop=1代表不保存原来的index）再次连接试试
d5=pd.concat([d1,d2],axis=0,keys=['df1','df2'])#合并的同时区分哪些数据来自哪里

#append
d6=d1.append(d2)

#merge
#相当于SQL中的JOIN,只能水平连接两个DataFrame对象
#对齐是靠被调用的DataFrame的列或行索引和另一个DataFrame的列或行索引
d7=pd.merge(d1, d2, left_index=True, right_index=True, how='left',suffixes=('_1', '_2'))#以各自的行索引值作为键值左链接
d8=pd.merge(d1,d2,how='outer')
#更多用法见下方

/Users/xwx/anaconda3/envs/WZTensorflow_Py37/lib/python3.7/site-packages/ipykernel_launcher.py:9: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if __name__ == '__main__':
/Users/xwx/anaconda3/envs/WZTensorflow_Py37/lib/python3.7/site-packages/ipykernel_launcher.py:12: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if sys.path[0] == '':
/Users/xwx/anaconda3/envs/WZTensorflow_Py37/lib/python3.7/site-packages/pandas/core/frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

merge(left, right, how='inner', on=None, left_on=None, right_on=None,
      left_index=False, right_index=False, sort=True,
      suffixes=('_x', '_y'), copy=True, indicator=False)

left与right：两个不同的DataFrame
how：指的是合并(连接)的方式有inner(内连接),left(左外连接),right(右外连接),outer(全外连接);默认为inner！
on : 指的是用于连接的列索引名称。必须存在右右两个DataFrame对象中，如果没有指定且其他参数也未指定则以两个DataFrame的列名交集做为连接键
left_on：左则DataFrame中用作连接键的列名;这个参数中左右列名不相同，但代表的含义相同时非常有用。
right_on：右则DataFrame中用作 连接键的列名
left_index：使用左则DataFrame中的行索引做为连接键，用到这个参数时，就有点类似于接下来要说的JOIN函数了。
right_index：使用右则DataFrame中的行索引做为连接键
sort：默认为True，将合并的数据进行排序。在大多数情况下设置为False可以提高性能
suffixes：字符串值组成的元组，用于指定当左右DataFrame存在相同列名时在列名后面附加的后缀名称，默认为('_x','_y')
copy：默认为True,总是将数据复制到数据结构中；大多数情况下设置为False可以提高性能
indicator：在 0.17.0中还增加了一个显示合并数据中来源情况；如只来自己于左边(left_only)、两者(both)

In [10]:
#删除行

#不设置参数inplace=True，则只能在生成的新数据块中实现删除效果，而不能删除原有数据块的相应行。
df1.drop(axis=0, index=[0,1])#指定index
df1[df1.是否获救==1]#假删除，只提取数据中的特殊行

#删除列
del df2['Parch']
df3=df2.drop(["Pclass",'Parch'],axis=1,inplace=False)#当且仅当inplace=Flase时df3有用
df2.drop(["Pclass",'Parch'],axis=1,inplace=True)
Pclass=df2.pop('Pclass')#.pop方法可以将所选列从原数据块中弹出，原数据块不再保留该列

KeyError: "['Parch'] not found in axis"

In [11]:
df3=data[['Age',"Pclass",'Name']]
df3.head()

    Age  Pclass                                               Name
0  22.0       3                            Braund, Mr. Owen Harris
1  38.0       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2  26.0       3                             Heikkinen, Miss. Laina
3  35.0       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4  35.0       3                           Allen, Mr. William Henry

In [12]:
df3.head()
#转置
temp=df3.T
#描述性统计
df3.describe()

#统计数值列，并进行转置
df3.describe(include=[np.number]).T  #include=[np.number])将结果限制为数字类型
df3.describe(include=[np.number], 
                 percentiles=[.01, .05, .10, .25, .5, .75, .9, .95, .99]).T#显示更多的分位数
#统计对象和类型列
df3.describe(include=[np.object, pd.Categorical]).T

     count unique              top freq
Name   891    891  Corn, Mr. Harry    1

In [ ]:
#dataframe排序
a = [[4, 1, 2], [3, 5, 4], [7, 8, 9]]
df = pd.DataFrame(a,index=[1,3,2], columns=['col2','col1','col3'])
df2=df.sort_values('col1',ascending=False)#单列按值排列
df22=df.sort_values( ["col1", "col2"])#多列按值排列
df3=df.sort_index(axis = 0)#按行名排列
df4=df.sort_index(axis = 1)#按列名排列
print(df)
df22