In [2]:
import pandas as pd #数据分析
import numpy as np #科学计算
import matplotlib.pyplot as plt
import seaborn as sns
plt.rc('font',family='SimHei')#调节字体、如果要更多字体要下载再放入某个目录
from pandas import Series,DataFrame

# Dataframe

In [3]:
data=pd.read_csv("/Users/xwx/Desktop/kaggle/tatanic/data/train.csv")
#data=pd.read_csv("/Users/xwx/Desktop/kaggle_titanic/data/test.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [4]:
#创造数据
df1=data[0:15][['Survived','Age','Name']]
df2=data[15:30][['Pclass','PassengerId','Parch']]
df2.head()
df1.head()

   Survived   Age                                               Name
0         0  22.0                            Braund, Mr. Owen Harris
1         1  38.0  Cumings, Mrs. John Bradley (Florence Briggs Th...
2         1  26.0                             Heikkinen, Miss. Laina
3         1  35.0       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4         0  35.0                           Allen, Mr. William Henry

In [49]:
#获取dataframe所有的列名的列表
col=data.columns.values.tolist()
col
df1.columns[0]#访问列表签
df1.index#访问行标签

1

In [32]:
#选择数据
data['Age']#选择表格中的'w'列，使用类字典属性,返回的是Series类型

data.Age#选择表格中的'w'列，使用点属性,返回的是Series类型

data[['Age']]#选择表格中的'w'列，返回的是DataFrame属性

data[0:2]#返回第1行到第2行的所有行，前闭后开，包括前不包括后

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [33]:
#索引 loc函数 new_data.loc[行index，列index] index也可以是某些条件如不为空等等
new_data=pd.DataFrame(np.arange(16).reshape(4,4),index=list('abcd'),columns=list('ABCD'))
print(new_data.head())
print(new_data.loc['a','A'],type(new_data.loc['a','A']))#用行列值精准定位某个元素
print(new_data.loc['a'],type(new_data.loc['a']))#取某一行数据
print(new_data.loc['a':'c'])#取某些行
print(new_data.loc[:,['A']])#取某一列

print(new_data.loc[new_data['A'].notna()])#用某些条件取数据所在行,取A不为空的那些行
new_data.loc[new_data['A'].notna(),'B':"C"]="a"#先通过loc索引出符合条件的行列（A不为0的B列），再给取出的行列赋值
new_data

    A   B   C   D
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15
0 <class 'numpy.int64'>
A    0
B    1
C    2
D    3
Name: a, dtype: int64 <class 'pandas.core.series.Series'>
   A  B   C   D
a  0  1   2   3
b  4  5   6   7
c  8  9  10  11
    A
a   0
b   4
c   8
d  12
    A   B   C   D
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15

    A  B  C   D
a   0  a  a   3
b   4  a  a   7
c   8  a  a  11
d  12  a  a  15

In [6]:
#重命名

#只对其中某列重命名
df1=df1.rename(columns={"Survived":'获救？'})

#对所有列重命名
df1.columns=['是否获救','年龄','姓名']
df1.head()

   Survived   Age                                               Name
0         0  22.0                            Braund, Mr. Owen Harris
1         1  38.0  Cumings, Mrs. John Bradley (Florence Briggs Th...
2         1  26.0                             Heikkinen, Miss. Laina
3         1  35.0       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4         0  35.0                           Allen, Mr. William Henry

In [35]:
#排序
df1.sort_values(by='年龄',ascending=False,inplace=True)#ascending=False代表降序

In [36]:
#连接俩dataframe
d1 = pd.DataFrame({'x': [1, 2, 3], 'y': ['a', 'b', 'c']})
d2 = pd.DataFrame({'y': ['b', 'c', 'd'], 'z': [4, 5, 6]})

#concat
#可以垂直和水平地连接两个或多个pandas对象
#concat是唯一一个可以将DataFrames垂直连接起来的函数
#只用索引对齐
d3=pd.concat([d1,d2],axis=0) #axis=0代表行连接按照列名相同的合并 
d4=pd.concat([df1,df2],axis=1)##axis=1代表行连接，按照index相同连接 
d44=pd.concat([df1,df2.reset_index(drop=1)],axis=1)#将df2的索引列重新从0开始排列（drop=1代表不保存原来的index）再次连接试试
d5=pd.concat([d1,d2],axis=0,keys=['df1','df2'])#合并的同时区分哪些数据来自哪里

#append
d6=d1.append(d2)

#merge
#相当于SQL中的JOIN,只能水平连接两个DataFrame对象
#对齐是靠被调用的DataFrame的列或行索引和另一个DataFrame的列或行索引
d7=pd.merge(d1, d2, left_index=True, right_index=True, how='left',suffixes=('_1', '_2'))#以各自的行索引值作为键值左链接
d8=pd.merge(d1,d2,how='outer')
#更多用法见下方

/Users/xwx/anaconda3/envs/WZTensorflow_Py37/lib/python3.7/site-packages/ipykernel_launcher.py:9: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if __name__ == '__main__':
/Users/xwx/anaconda3/envs/WZTensorflow_Py37/lib/python3.7/site-packages/ipykernel_launcher.py:12: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if sys.path[0] == '':
/Users/xwx/anaconda3/envs/WZTensorflow_Py37/lib/python3.7/site-packages/pandas/core/frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [66]:
#shift(periods=1, freq=None, axis=0) periods代表数据移动的单位数，axis=0代表上下移动，axis=1代表左右移动
d1 = pd.DataFrame({'x': ["1", "2", '3'], 'y': ['a', 'b', 'c'], 'Z': ['4', '5', '6']})
print(d1)
print(d1.shift(1))
print(d1.shift(-1))
print(d1.shift(1,axis=1))

   x  y  Z
0  1  a  4
1  2  b  5
2  3  c  6
     x    y    Z
0  NaN  NaN  NaN
1    1    a    4
2    2    b    5
     x    y    Z
0    2    b    5
1    3    c    6
2  NaN  NaN  NaN
     x  y  Z
0  NaN  1  a
1  NaN  2  b
2  NaN  3  c

merge(left, right, how='inner', on=None, left_on=None, right_on=None,
      left_index=False, right_index=False, sort=True,
      suffixes=('_x', '_y'), copy=True, indicator=False)

left与right：两个不同的DataFrame
how：指的是合并(连接)的方式有inner(内连接),left(左外连接),right(右外连接),outer(全外连接);默认为inner！
on : 指的是用于连接的列索引名称。必须存在右右两个DataFrame对象中，如果没有指定且其他参数也未指定则以两个DataFrame的列名交集做为连接键
left_on：左则DataFrame中用作连接键的列名;这个参数中左右列名不相同，但代表的含义相同时非常有用。
right_on：右则DataFrame中用作 连接键的列名
left_index：使用左则DataFrame中的行索引做为连接键，用到这个参数时，就有点类似于接下来要说的JOIN函数了。
right_index：使用右则DataFrame中的行索引做为连接键
sort：默认为True，将合并的数据进行排序。在大多数情况下设置为False可以提高性能
suffixes：字符串值组成的元组，用于指定当左右DataFrame存在相同列名时在列名后面附加的后缀名称，默认为('_x','_y')
copy：默认为True,总是将数据复制到数据结构中；大多数情况下设置为False可以提高性能
indicator：在 0.17.0中还增加了一个显示合并数据中来源情况；如只来自己于左边(left_only)、两者(both)

In [37]:
#删除行

#不设置参数inplace=True，则只能在生成的新数据块中实现删除效果，而不能删除原有数据块的相应行。
df1.drop(axis=0, index=[0,1])#指定index
df1[df1.是否获救==1]#假删除，只提取数据中的特殊行

#删除列
#del df2['Parch']
df3=df2.drop(["Pclass",'Parch'],axis=1,inplace=False)#当且仅当inplace=Flase时df3有用
#df2.drop(["Pclass",'Parch'],axis=1,inplace=True)
#Pclass=df2.pop('Pclass')#.pop方法可以将所选列从原数据块中弹出，原数据块不再保留该列

KeyError: "['Parch'] not found in axis"

In [73]:
#转换dataframe某列的数据类型

#对于单列或者Series
s = pd.Series(['1', '2', '4.7', 'pandas', '10'])
s1=pd.to_numeric(s, errors='coerce')#可以将无效值强制转换为NaN
s2=pd.to_numeric(s, errors='ignore')#可以将无效值忽略此操作

#对于多列或者整个DataFrame
a = [['a', '1.2', '4.2'], ['b', '70', '0.03'], ['x', '5', '0']]
df = pd.DataFrame(a, columns=['col1','col2','col3'])
df[['col2','col3']] = df[['col2','col3']].apply(pd.to_numeric,errors='ignore')

#astype强制转换
df2.Pclass=df2.Pclass.astype(str)#int到str
#lambda
df2.Pclass=df2.Pclass.apply(lambda x:int(x))#str转回int了
#软转换——类型自动推断
df=pd.DataFrame({'a':[7,1,2].'b':[1,2,3]},dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 15 to 29
Data columns (total 3 columns):
Pclass         15 non-null int64
PassengerId    15 non-null int64
Parch          15 non-null int64
dtypes: int64(3)
memory usage: 444.0 bytes

In [169]:
df3=data[['Age',"Pclass",'Name']]
df3.head()

    Age  Pclass                                               Name
0  22.0       3                            Braund, Mr. Owen Harris
1  38.0       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2  26.0       3                             Heikkinen, Miss. Laina
3  35.0       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4  35.0       3                           Allen, Mr. William Henry

In [184]:
df3.head()
#转置
temp=df3.T
#描述性统计
df3.describe()

#统计数值列，并进行转置
df3.describe(include=[np.number]).T  #include=[np.number])将结果限制为数字类型
df3.describe(include=[np.number], 
                 percentiles=[.01, .05, .10, .25, .5, .75, .9, .95, .99]).T#显示更多的分位数
#统计对象和类型列
df3.describe(include=[np.object, pd.Categorical]).T

     count unique                            top freq
Name   891    891  Lefebre, Master. Henry Forbes    1

In [236]:
#dataframe排序
a = [[4, 1, 2], [3, 5, 4], [7, 8, 9]]
df = pd.DataFrame(a,index=[1,3,2], columns=['col2','col1','col3'])
df2=df.sort_values('col1',ascending=False)#单列按值排列
df22=df.sort_values( ["col1", "col2"])#多列按值排列
df3=df.sort_index(axis = 0)#按行名排列
df4=df.sort_index(axis = 1)#按列名排列
print(df)
df22

   col2  col1  col3
1     4     1     2
3     3     5     4
2     7     8     9

   col2  col1  col3
1     4     1     2
3     3     5     4
2     7     8     9

In [67]:
#以array形式返回指定column的所有取值
df2['Pclass'].values

array([2, 3, 2, 3, 3, 2, 2, 3, 1, 3, 3, 3, 1, 3, 3])

In [ ]:
#lambda 由于每次都忘记lambda怎么用 所以这里要列出来一个例子，以供以后方便借鉴
data.Sex=data.Sex.apply(lambda x:0 if x=='female' else 1)

In [ ]:
#read_csv
def parse(x):
    return datetime.strptime(x, '%Y %m %d %H')
#将前四列合并为日期并将其作为索引值
dataset = pd.read_csv('/Users/xwx/Desktop/kaggle/LSTM/data.csv',  parse_dates = [['year', 'month', 'day', 'hour']], index_col=0, date_parser=parse)
"""
header : int or list of ints, default ‘infer’指定行数用来作为列名，数据开始行数
index_col=0代表以第一列作为行索引
parse_dates
    boolean. True -> 解析索引
    list of ints or names. e.g. If [1, 2, 3] -> 解析1,2,3列的值作为独立的日期列；
    list of lists. e.g. If [[1, 3]] -> 合并1,3列作为一个日期列使用
    dict, e.g. {‘foo’ : [1, 3]} -> 将1,3列合并，并给合并后的列起名为"foo"
date_parser : function, default None
用于解析日期的函数，默认使用dateutil.parser.parser来做转换。Pandas尝试使用三种不同的方式解析，如果遇到问题则使用下一种方式。
"""
dataset.head()

In [77]:
#dropna 处理缺失数据
from numpy import nan as NaN
d=pd.DataFrame([[1,2,3],[NaN,NaN,2],[NaN,NaN,NaN],[8,8,NaN]])
print(d)
print(d.dropna())#默认滤除所有包含NaN
print(d.dropna(how='all'))#传入**how=‘all’**滤除全为NaN的行：
d[3]=NaN
d.dropna(axis=1,how="all")#传入axis=1滤除列：
d.dropna(thresh=1)#传入thresh=n保留至少有n个非NaN数据的行

     0    1    2
0  1.0  2.0  3.0
1  NaN  NaN  2.0
2  NaN  NaN  NaN
3  8.0  8.0  NaN

NameError: name 'n' is not defined

In [10]:
#自定义行索引
print(df1.head())
df2=df1.set_index(["Name"], inplace=False)
#直接在原数据上修改
#
print(df2.head())

                                                    Survived   Age
Name
Braund, Mr. Owen Harris                                    0  22.0
Cumings, Mrs. John Bradley (Florence Briggs Tha...         1  38.0
Heikkinen, Miss. Laina                                     1  26.0
Futrelle, Mrs. Jacques Heath (Lily May Peel)               1  35.0
Allen, Mr. William Henry                                   0  35.0

KeyError: 'Name'

     0    1    2   3
0  1.0  2.0  3.0 NaN
1  NaN  NaN  2.0 NaN
3  8.0  8.0  NaN NaN